.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
}

.product_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product{
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.product img{
    width: 200px;
    height: 200px;
}

.button_container{
    text-align: center;
}

.disable{
    display: none;
}